.mainBox {
  margin-top: 10px;
  height: 520px;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}

.PokemonComparisonTitle {
  display: flex;
  margin: auto auto 20px auto;
  justify-content: center;
  color: black;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
}

.pokemonComparisonImageBox {
  display: flex;
  margin: 50px auto auto auto;
  justify-content: space-evenly;
}

.pokemonName {
  display: flex;
  margin: auto;
  text-transform: capitalize;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
}

.pokemonLogo {
  display: flex;
  width: 200px;
  margin: auto;
  align-content: center;
}

.onClickDiscoverPokemon {
  display: flex;
  margin: 25px auto;
  align-content: center;
  font-weight: bold;
  background-color: black;
}

.pokedexGameImage {
  display: flex;
  margin: auto;
  justify-content: center;
}

.pokemonChiquitoIzquierda {
  align-items: left;
  align-content: left;
  height: 100px;
  cursor: pointer;
}

.pokemonChiquitoDerecha {
  align-items: right;
  align-content: right;
  height: 100px;
  cursor: pointer;
}

.pokemonComparisonButtons {
  display: flex;

  justify-content: space-evenly;
}

.firstPokemonButton {
  height: 100px;
}
.secondPokemonButton {
  height: 100px;
}

.correctIncorrectMessage {
  display: flex;
  margin: 15px auto auto auto;
  text-align: center;
  justify-content: center;
}

.linkHome {
  position: absolute;
  bottom: 2%;
  right: 2%;
  background-color: orange;
  display: flex;
}
